[Unit]
Description=Scan Wifi
Wants=network-online.target
After=multi-user.target  
After=syslog.target  
After=network.target 
After=network-online.target 
Requires=network.target network-online.target

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python -u /home/julien/git/Scrin-Scanner/scan_wifi.py

[Install]
WantedBy=multi-user.target