[Unit]
Description=Scan Wifi
After=multi-user.target

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python /home/julien/git/Scrin-Scanner/scan_wifi.py

[Install]
WantedBy=multi-user.target